<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366525117355-2dtgcv4j6sq2iiddiqok87631ukdgpka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366525117355-2dtgcv4j6sq2iiddiqok87631ukdgpka</string>
	<key>API_KEY</key>
	<string>AIzaSyCv-jMfIJ7WpH2XSJPRuxzT_TgN2h6rlaA</string>
	<key>GCM_SENDER_ID</key>
	<string>366525117355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facens.flutterAppCp110</string>
	<key>PROJECT_ID</key>
	<string>facens-cp110</string>
	<key>STORAGE_BUCKET</key>
	<string>facens-cp110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366525117355:ios:0b376da1e94a1a2f3b18ee</string>
</dict>
</plist>